@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --toastify-text-color-light: #fff;
  --toastify-text-color-dark: #757575;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: "poppins";
  text-decoration: none;
}
.color{
  color: red;
}
body {
  background-color: #111111f4;
}
a {
  text-decoration: none;
}
.coo{
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2vw;
}
.cooo{
  color: rgba(0, 174, 255, 0.803);
  font-family: "Russo One", sans-serif;
  text-shadow: 0px 11px 10px rgba(36, 38, 37, 0.265);
  font-weight: 400;
  font-style: normal;
  transition: all ease-in-out 300ms;
  font-size: 1.2vw;
}
.cooo:hover{
  text-decoration: underline;
  color: rgb(22, 178, 239);
}
@keyframes animation {
  0% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -105;
  }
  50% {
    stroke-dasharray: 80 10;
    stroke-dashoffset: -160;
  }
  100% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -300;
  }
}
.toast{
  color: #111111f4;
}
.diverror{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px solid #fff;
}
.error{
  overflow-x: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorh1{
  font-size: 4rem;
  font-weight: 400;
}
.errormain{
  font-size: 4rem;
  font-weight: 700;
  color: red;
  animation: Color ease 1500ms infinite;
  transition: all ease 2000ms;
}
.container{
  display: none;
}
.errordes{
  display: flex;
  align-items: center;
  padding: 10px;
  width: 1/3;
  height: 50px;
  border-radius: 16px;
  border: 1px solid #ffffff5e;
  background-color: #ffffff34;
  transition: all ease 300ms;
  margin-top: 10px;
}
.errordes:hover{
  border: 1.5px solid #fff;
}
.bn5 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: #000;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes Color {
  0%{
    color: red;
    transition: all ease-in 500ms;
  }
  25%{
    color: yellow;
    transition: all ease-in 500ms;
  }
  50%{
    color: blue;
    transition: all ease-in 500ms;
  }
  75%{
    color: green;
    transition: all ease-in 500ms;
  }
  /* 100%{
    color: hotpink;
    transition: all ease-in 500ms;
  } */
}
@media only screen and (max-width: 767px) {
  .coo{
    font-size: 3vw;
  }
  .cooo{
    font-size: 3vw;
  }
}