.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.flexx{
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  display: flex;
  align-content: center;
  margin: auto auto;
  flex-wrap: wrap;
  width: 80%;
  gap: 10px;
  padding: 15px;
  background-color: #111111c6;
}
.wrapper2 {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: auto auto;
  flex-wrap: wrap;
  width: 80%;
  gap: 15px;
  padding: 15px;
  background-color: #111111c6;
}
.wrapper21 {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: auto auto;
  flex-wrap: wrap;
}
.wrapper4 {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: auto auto;
  flex-wrap: wrap;
  width: 80%;
  gap: 15px;
}
.wrapper3 {
  align-content: center;
  justify-content: center;
  margin: auto auto;
  flex-wrap: wrap;
  width: 80%;
  gap: 15px;
  padding: 15px;
  background-color: #111111c6;
}
.Img {
  width: 13rem;
  height: 100%;
  border-radius: 8px;
}
.imagecard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
  border-radius: 8px;
  overflow: hidden;
}
.icon{
  font-size: 15px;
}
.card {
  width: 14rem;
  height: 31.7em;
  border-radius: 16px;
  text-overflow: ellipsis;
  background-color: rgba(0, 6, 11, 0.847);
  cursor: pointer;
  padding-bottom: 10px;
  transform: scale(1);
  transition: all 350ms ease;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.card:hover {
  transform: scale(1.05); /* Optional: Scale card slightly on hover for emphasis */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Subtle hover shadow */
}
.title {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  padding: 0 5px;
  transition: color ease 300ms;
}
.title:hover{
  color: red;
}
.date {
  color: #948a8a !important;
  text-align: center !important;
  font-size: 12px;
}
.div{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px solid #fff;
}
.div:hover{
  border: 1x solid #fff;
}
.error{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.errorh1{
  font-size: 4rem;
  font-weight: 400;
}
.errormain{
  font-size: 4rem;
  font-weight: 700;
  color: red;
  animation: Color ease-out 2000ms infinite;
  transition: all ease 2000ms;
}
.errordes{
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  width: 1/3;
  height: 50px;
  border-radius: 16px;
  border: 1px solid #ffffff5e;
  background-color: #ffffff34;
  transition: all ease-in-out 300ms;
  margin-top: 10px;
}
.text-overflow {
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Display ellipsis at the end */
} 
.errordes:hover{
  border: 1.5px solid #fff;
}
@media only screen and (max-width: 767px) {
  .container{
    display: block;
    width: 99%;
  }
  .date{
    margin: 2px;
    font-size: 8px;
  }
  .wrapper{
    overflow-x: hidden;
    justify-content: center;
    margin: 0;
    width: 100%;
  }
  .card{
    width: 10rem;
    height: 100%;
  }
  .title{
    font-size: 11px;
  }
  .text-overflow {
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Display ellipsis at the end */
  }  
  .imagecard{
    width: 9.2rem;
    height: 100%;
    border-radius: 0;
    padding: 0;
  }
  .Img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
}
@media only screen and (max-width: 350px) {
  .card{
    width: 8.5rem;
    height: 100%;
  }
  .imagecard{
    width: 8rem;
    height: 200px;
    border-radius: 0px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .card{
    height: 26rem;
    width: 8rem;
  }
  .title{
    font-size: 0.8rem;
  }
  .imagecard{
    height: 11.5rem;
    width: 7.5rem;
    border-radius: 0;
  }
  .Img{
    width: 100%;
    height: 100%;
  }
}
@keyframes Color {
  0%{
    color: red;
    transition: all ease-in 500ms;
  }
  25%{
    color: rgb(21, 255, 0);
    transition: all ease-in 500ms;
  }
  50%{
    color: blue;
    transition: all ease-in 500ms;
  }
  75%{
    color: rgb(83, 0, 128);
    transition: all ease-in 500ms;
  }
  100%{
    color: red;
    transition: all ease-in 500ms;
  }
}
